@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive;
}

html {
  background: url(../images/bgarena.png) no-repeat center center fixed;
  background-size: cover;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
}